<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>bg</display-name>
  <description></description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>boatguard</param-value>
  </context-param>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.InitServlet</servlet-class>
    <init-param>
      <param-name>config-init-file</param-name>
      <param-value>/WEB-INF/config.properties</param-value>
    </init-param>
    <init-param>
      <param-name>config-log4j-file</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>SetObuDataServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.SetObuDataServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetObuDataServlet</servlet-name>
    <url-pattern>/setdata</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetObuDataServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetObuDataServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObuDataServlet</servlet-name>
    <url-pattern>/getdata</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetObuAlarmsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetObuAlarmsServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObuAlarmsServlet</servlet-name>
    <url-pattern>/getobualarms</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>ConfirmObuAlarmServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.ConfirmObuAlarmServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmObuAlarmServlet</servlet-name>
    <url-pattern>/confirmalarm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetObuSettingsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetObuSettingsServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObuSettingsServlet</servlet-name>
    <url-pattern>/getobusettings</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetObuComponentsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetObuComponentsServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObuComponentsServlet</servlet-name>
    <url-pattern>/getobucomponents</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>GetSettingsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetSettingsServlet</servlet-class>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSettingsServlet</servlet-name>
    <url-pattern>/getsettings</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginRegisterServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.LoginRegisterServlet</servlet-class>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegisterServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SetObuSettingsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.SetObuSettingsServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetObuSettingsServlet</servlet-name>
    <url-pattern>/setobusettings</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>GetObuHistoryDataServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetObuHistoryDataServlet</servlet-class>
    <load-on-startup>11</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObuHistoryDataServlet</servlet-name>
    <url-pattern>/gethistorydata</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RpcServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.RpcServlet</servlet-class>
    <load-on-startup>12</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RpcServlet</servlet-name>
    <url-pattern>/rpc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CopyOldDataServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.CopyOldDataServlet</servlet-class>
	 <init-param>
	   <param-name>scheduler_pattern</param-name>
		<param-value>*/1 * * * *</param-value>
	 </init-param>
    <load-on-startup>13</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyOldDataServlet</servlet-name>
    <url-pattern>/old</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SendSMSServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.SendSMSServlet</servlet-class>
    <load-on-startup>14</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSMSServlet</servlet-name>
    <url-pattern>/sendSms</url-pattern>
  </servlet-mapping>  

  
  <servlet>
    <servlet-name>SetObuAlarmsServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.SetObuAlarmsServlet</servlet-class>
    <load-on-startup>15</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetObuAlarmsServlet</servlet-name>
    <url-pattern>/setobualarms</url-pattern>
  </servlet-mapping>    
  
  <servlet>
    <servlet-name>GetCustomerServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.GetCustomerServlet</servlet-class>
    <load-on-startup>16</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerServlet</servlet-name>
    <url-pattern>/getcustomer</url-pattern>
  </servlet-mapping>  
    
  <servlet>
    <servlet-name>SetCustomerServlet</servlet-name>
    <servlet-class>si.noemus.boatguard.servlet.SetCustomerServlet</servlet-class>
    <load-on-startup>17</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCustomerServlet</servlet-name>
    <url-pattern>/setcustomer</url-pattern>
  </servlet-mapping>
    
</web-app>