<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>papirservis</display-name>
  <description></description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>papirservis</param-value>
  </context-param>


  <context-param>
    <param-name>driver</param-name>
    <param-value>org.gjt.mm.mysql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>conn</param-name>
    <param-value>jdbc:mysql://93.103.12.155:3306/bilgeguard</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>kuladmin</param-value>
  </context-param>
  <context-param>
    <param-name>useUnicode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>characterEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>characterSetResults</param-name>
    <param-value>UTF-8</param-value>
  </context-param>

  
  
  <servlet>
    <servlet-name>SendSMSServlet</servlet-name>
    <servlet-class>si.noemus.bilgeguard.SendSMSServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SendSMSServlet</servlet-name>
    <url-pattern>/SendSMSServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetStateServlet</servlet-name>
    <servlet-class>si.noemus.bilgeguard.GetStateServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>GetStateServlet</servlet-name>
    <url-pattern>/GetStateServlet</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>GetSettingsServlet</servlet-name>
    <servlet-class>si.noemus.bilgeguard.GetSettingsServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>GetSettingsServlet</servlet-name>
    <url-pattern>/GetSettingsServlet</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>SetSettingsServlet</servlet-name>
    <servlet-class>si.noemus.bilgeguard.SetSettingsServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SetSettingsServlet</servlet-name>
    <url-pattern>/SetSettingsServlet</url-pattern>
  </servlet-mapping>
  
</web-app>